/*HomePage*/
body, .brief{
  font-family:  "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.brief{
  color:#ffffff;
}

.nav-link{
  color: #fdb752;
  /*margin-top: 2em;
  margin-right: 2em;*/
  margin: 2em;
}

.banner{
  background-color: #fdb752;
}

.homeBanner{
display: flex;
text-align: center;
width:80%;
height:auto;
padding-top: 3em;
padding-bottom: 5em;

}

.heading{
font-family: 'Merienda', cursive;
margin-top: 3em;
margin-bottom: 1em;
}

h2 {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.notShow{
	display: none;
}
