/*HomePage*/
.nav-link{
  color: white;
  /*margin-top: 2em;
  margin-right: 2em;*/
  margin: 2em;
}

.banner{
  background-color: #fdb752;
}


.homeBanner{
display: flex;
text-align: center;
width:80%;
height:auto;
padding-bottom: 3em;

}

.heading{
font-family: 'Merienda', cursive;
margin-top: -1em;
margin-bottom: 1em;
}

h1 {
  display: flex;
  justify-content: center;
}
