/*HomePage*/
body, .brief{
  font-family:  "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.brief{
  color:#ffffff;
}

.nav-link{
  color: #f4b494;
  /*margin-top: 2em;
  margin-right: 2em;*/
  margin: 2em;
}

.banner{
  background-color: #f4b494;
}

.homeBanner{
display: flex;
text-align: center;
width:80%;
height:auto;
padding-top: 3em;
padding-bottom: 5em;
}

.homelogo{
  width:40%;
  height:auto;
}

.heading{
margin-top: 3em;
margin-bottom: 1em;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Merienda', cursive;
  color: #ffffff;
}

.notShow{
	display: none;
}

.works{
display: flex;
text-align: center;
width:100%;
height:auto;
padding-top: 3em;
padding-bottom: 5em;
}

.work_section{
  margin-top: 6em;
  background-color: #ebb7c7;
}

#Works, #Contact{
  padding-top: 3em;
}

.contact_section{
  margin-top: 6em;
  background-color: #a9cdad;
}
